
{% load static %}
<div id='modal'class=' shadow-2xl shadow-slate-900 p-2 absolute text-white bg-slate-800 w-fit lg:w-fit 
    sm:py-12 sm:w-5/6 bottom-56 lg:px-6 sm:px-12 lg:py-4 rounded-l-none rounded-r-2xl transition'>
    <div class='flex items-center mb-4'>
        

        <label class="flex   lg:text-sm sm:text-5xl sm:py-5  sm:px-10 lg:py-2.5 
        lg:px-5 font-thin text-white">Hey Buddy Write Your name here!</label>
        <div class='close cursor-pointer lg:text-sm sm:text-5xl 
         p-2 text-white hover:text-gray-200 rounded-lg hover:bg-gray-700 transition '>
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>          
        </div>
    </div>
    <div class="flex ">
    <input type="text" class="alexa-text border sm:py-5 sm:px-10 lg:text-sm lg:py-2.5
     lg:px-5 sm:text-5xl border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500
      block w-full p-2.5" placeholder="Alexa">
    <input type="submit" class='bg-blue-500 sm:py-5 sm:px-10 lg:py-2.5 lg:px-5 py-2.5 px-5 mx-2
     lg:text-sm sm:text-5xl rounded-2xl enter' >
    </div>

</div>
<script src="{% static 'jquery.slim.min.js' %}"></script> 
<script src="{% static 'jquery.min.js' %}"></script>

<script>
    
window.onload = function() {

    setTimeout(function() {
        $( "#modal" ).fadeIn()
      }, 5000);

    setTimeout(function() {
        $( "#modal" ).fadeOut()
    }, 120000);
}

$('.close').click(function(){
    $("#modal").fadeOut();
});
$('.enter').click(function(){
    let val = capital_first_letter($('.alexa-text').val())
    $("#modal").fadeOut();
    $.post('{% url  'saving' %}',{
        names : val,
    },function(res){
        console.log(res);
        $('.name').text(val);
    });
})

$('.alexa-text').keypress(function (e) {
    if (e.which == 32){
        console.log('Space Detected');
        return false;
    }
    if (e.which == 13) {

        let val = capital_first_letter($('.alexa-text').val())
        $("#modal").hide();
        $.post('{% url  'saving' %}',{
            names : val,
        },function(res){
            console.log(res);
            $('.name').text(val);
        });
    }
}); 
function capital_first_letter(string){
    return string.charAt(0).toUpperCase() + string.slice(1);

}

</script>