<div id='modal'class=' m-12 p-2 absolute text-white bg-slate-800 w-fit lg:w-fit sm:py-12 sm:mx-2 sm:w-screen sm:rounded-3xl  bottom-0 lg:px-6 lg:py-4 lg:rounded-lg transition all'>
    <div class='close cursor-pointer absolute right-4 top-2 lg:text-sm sm:text-5xl sm:py-5 lg:py-2.5 lg:px-2 sm:px-10 text-white hover:text-gray-200'>x</div>
    <label class="block mb-4 lg:text-sm sm:text-5xl sm:py-5 sm:px-10 lg:py-2.5 lg:px-5 font-thin text-white">Hey Buddy Write Your name here!</label>
    <div class="flex ">
    <input type="text" class="alexa-text border sm:py-5 sm:px-10 lg:text-sm lg:py-2.5 lg:px-5 sm:text-5xl border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5" placeholder="Alexa">
    <input type="submit" class='bg-blue-500 sm:py-5 sm:px-10 lg:py-2.5 lg:px-5 py-2.5 px-5 mx-2 lg:text-sm sm:text-5xl rounded-lg enter' >
    </div>
</div>

<script>
    
</script>