{% load static %}
<navbar class="grid grid-cols-5 font-bold text-black">

    <div class="grid items-center justify-center  ">
        <a href ="{% url name %}"  data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom"
        class ="mb-2 transition-all   focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
        <img  class ='lg:h-10  sm:h-16'id = "tooltip_rocket" src="{%static 'icons/startup.png' %}">
        </a>

        {% comment %} <button type="button" class="">Tooltip right</button> {% endcomment %}
        <div id="tooltip-bottom" role="tooltip" class="inline-block absolute invisible transition-all 
         z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip ">
            {{ tooltip}}
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>


    </div>
    
    <div class='col-span-3 text-center  items-center justify-center grid'>
        <h1 class = "heading transition-all text-2xl sm:py-6  sm:text-5xl lg:text-3xl">
            {{ title }}
        </h1>

    </div>
    <div id='name' class='font-xs  items-center   w-full text-sm  flex font-light   '>
        <span class='font-bold cursor-pointer'> Shadeer sadikeen </span>
    </div>
</navbar> 
<script src="{% static 'jquery.slim.min.js' %}"></script> 
<script src="{% static 'jquery.min.js' %}"></script>
<script>
    $("#name").click(function(){
    window.location = "{% url 'test'  %}"
    console.log(window.location);

    });


</script>