
@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

.heading {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    transition: 1s;
} 

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropzone {
    /* transition: 1s; */
    margin: 3em;
    box-sizing: border-box;
    transition: 1s;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    animation: fadein 2s;
}
@keyframes fadein {
    0% {
         /* opacity: 0; */
         box-shadow :  0px 0px 0px #cbced1, 0px 0px 0px white;

        }
    50% {
    /* opacity: 0; */
    box-shadow :  0px 0px 0px #cbced1, 0px 0px 0px white;

      }
    100%   { 
        /* opacity: 1 */
        box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    }
  }



.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nu-shadow{
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.full-round{
  border-radius: 5em;
}
#result p{
    font-size: 1.3em;
}
#result ul p {
    font-weight: 300;
    font-size: 0.8em;
}
#result2 {
  display: flex;
    align-items: center;
    justify-content: space-around;
}
#result-img{
  height: 5em;
  border-radius: 1em;
}

.dz-success{
  border-radius: 37px;
}

.dz-message p:hover{

  transition: 1s;
}
#error {
    padding: 1em;
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    background: rgba( 255, 14, 14, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 255, 14, 14, 0.25 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#pred1{
    font-weight: 300;
    border-radius: 24px;
    background: #ecf0f3;
    box-shadow: inset 8px 8px 10px #86868670, inset -8px -8px 10px #ffffff;
    padding: 1.6em;
    padding: 0.8em;
    text-align: center;
}
#result h2{
  text-align: center;
}
#loader{
    text-align: center;
    FONT-WEIGHT: 300;
    font-size: 2em;
    background: black;
    color: white;
    padding: 0.3em;
    border-radius: 1em;
    animation: vibrate-3 0.5s linear infinite both;
}

  

/* Animated Loader */
.progress{
  position: absolute;
    height: 10px;
    width: 10em;
    border: 7px solid #000000;
    border-radius: 15px;
}
#loader2{
  position: absolute;
    top: -6.6em;
    background: black;
    color: floralwhite;
    padding: 0.6em;
    border-radius: 1em;
    font-size: 1.1em;
}
.progress .color{
  position: absolute;
  background-color: #838080;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progress 1s infinite linear;    
}
@keyframes progress{
  0%{
    width: 10%;
  }
  100%{
      width: 100%;
  }
}



.icons img:hover{
  animation: rotate-center 0.4s ease-in-out both;
}
#result ul{
  padding: 0px;
}


@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


#tooltip_rocket{
  height: 2em;
  cursor: pointer; 
}


.loading {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 1em;
  padding:40px;
  border:2px white;
  z-index: 0;
}
.container{
  display: flex;
}

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 10px 0 #FECDFF;
  border:2px black solid;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;  
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);  
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}