/* body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
} */

/* .container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 1.5em;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  animation: fadein 2s ;
} */

/* .brand-logo {

  font-weight: 600;
    font-family: sans-serif;
  border-radius: 1em;
  padding: 0.5rem;

  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  animation: fadein 2s ;

} */


.nu-shadow {
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;}


 .result{
   transition: 0.5s;
  font-size: 2.5em;
  font-family: sans-serif;
  padding: 1em
 }
 .result b:hover{
  color : #FFC54D
 }
 .result p b {
  transition: 0.5s;
 }
 .icons p{
  opacity: 0.5;
}

.icons img{
opacity: 0.5;
  height: 2.3em;
  /* transition: 2s; */
  padding: 0.5em;
  
}

.icons img:hover{
  animation: rotate-center 0.4s ease-in-out both;
}
#result ul{
  padding: 0px;
}


.button3d {
  font-size: 0.5em;
  margin: 1em;
  background: #ecf0f3;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 7px 14px 20px #cbced1, -8px -5px 20.4px #ec9b3b8f;
}

.alert {
  display: none;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  0% {
       /* opacity: 0; */
       box-shadow :  0px 0px 0px #cbced1, 0px 0px 0px white;

      }
  50% {
  /* opacity: 0; */
  box-shadow :  0px 0px 0px #cbced1, 0px 0px 0px white;

    }
  100%   { 
      /* opacity: 1 */
      box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }
}