
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Classifier</title>
    <link rel="stylesheet" href="{% static 'dropzone.min.css' %} ">
    <link rel="stylesheet" href="{% static 'classifier.css' %} ">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/fav.png' %}"/>

</head>

<body class="bg-gray-100">

    <navbar class="grid grid-cols-5 font-bold text-black">
        <div class="grid items-center justify-center  ">
            <a href =" {% url 'home' %}">
            <img  class ='lg:h-10  sm:h-16'id = "tooltip_rocket" src="{%static 'icons/startup.png' %}">
            </a>
        </div>
        
        <div class='col-span-3 text-center  items-center justify-center grid'>
            <h1 class = "heading transition-all text-2xl sm:py-6  sm:text-5xl lg:text-3xl">This model will find out who in this image!</h1>

        </div>
        <div id='name' class='slide-in font-xs  items-center   w-full text-sm  flex font-light   '>
            <span class='font-bold'> Shadeer sadikeen </span>
        </div>
    </navbar> 


    {% comment %} <navbar class='grid grid-cols-5 h-16  font-bold text-black'>
        <div class='items-center justify-center grid '>
            <a href =" {% url 'home' %}">
            <img  class =''id = "tooltip_rocket" src="{% static 'icons/startup.png' %}">
            </a>
        </div>
        
        <div class='col-span-3 items-center justify-center grid'>
            <h1 class = "heading text-3xl">This model will find out who in this image!</h1>
        </div>
        <div class='items-center justify-center grid'>Shadeer Sadikeen</div>
    </navbar> {% endcomment %}
    <b id= "error">Sorry!😞 Can't classify Eyes of person!</b>

    <div class = "lg:py-12  lg:flex sm:grid items-center justify-center">
        <div class="dropzone sm:p-0 flex border-none rounded-3xl lg:p-12 items-center justify-center" id="dropzone" >
            <div class="dz-message grid   grid-rows-3 gap-4">
                <div class="flex align-center hover:animate-ping justify-center">
                <img src="{% static 'images/upload.png' %}" width="50vw" height="50vw"><br>
                </div>
                <p>Drop files here or click Button Below </p>
                <button class="px-5 py-2.5 text-white transition rounded-2xl bg-amber-400 hover:bg-amber-500 font-medium	 hover:text-white" >
                    Click Me!
                </button>

            </div>
        </div> 
        <div class="flex items-center justify-center">
        <div id ="result" class = 'result text-center  full-round mx-6  grid items-center justify-center nu-shadow bg-gray-100 nu-shadow rounded-3xl px-8 pb-8 mr-0 lg:ml-0 lg:mr-4 sm:w-full sm:mx-12 sm:p-12 '>
            <p id ='pred1' >Model Guessed : <b id="pred" class="font-bold">Nothing!</b></p>

            <div class="grid grid-rows-2">
            <h2 class ="flex items-center justify-center font-medium text-lg underline">My model's likelihood<h2>
                <div class='centered'>
                    {% comment %} Result add here! {% endcomment %}
                    <ul class='text-left text-xl font-bold'>
                        
                    </ul>
                    <img  id = "result-img" src="{% static 'images/har.jpg' %}" class = "h-32 rounded-lg">
                    {% comment %} <p id = "result-img">hello</p> {% endcomment %}
                </div>
            </div>
            
           
        </div>
        </div>
        
        
    </div> 
    {% comment %} <div class="progress">
        <div class="color"></div>
        {% comment %} <div id ="loader">Hurray! simply trying to recognize the visual...</div> 
        <div id ="loader2">Hurray! simply trying to recognize the visual...</div>
    </div> {% endcomment %}
    
    {% comment %} <button id="submitBtn"   class="btn btn-success">Classify</button> {% endcomment %}
    </div>
    {% comment %} <footer class = 'flex align-center lg:w-2/4 sm:w-52  justify-center'>
        <div class="icons flex items-center my-6 justify-around ">
            <a href="https://github.com/shadee22" target="_blank"><img class= "opacity-40 lg:h-8 lg:w-8 w-28  sm:h-20  " src={%static 'icons/git.jpg' %}></a>
            <a href="https://www.facebook.com/shadeer.sadikeen/"target="_blank"><img class= "opacity-40 lg:h-8 w-52 lg:w-8 sm:h-20 sm:w-full " src={%static 'icons/fb.png' %}></a>
            <a href="https://www.instagram.com/sl_programmer/" target="_blank"><img  class= "opacity-40  w-32  lg:h-8 lg:w-full sm:h-24 sm:w-full " src={%static 'icons/insta.png' %}></a>
            <a href="https://www.linkedin.com/in/shadeer-/" target="_blank"><img class= "opacity-40 lg:h-8 lg:w-8  w-52 sm:h-20 sm:w-full " src={%static 'icons/link.png' %}></a>
        </div>
    </footer>  {% endcomment %}
      
    <footer class=' centered '>
        <a href="mailto:shadeersadikeen@gmail.com" class="cursor-pointer centered text-gray-500" target="_blank">
        <span>
            <img class= "h-6 opacity-40" src={%static 'icons/email.png' %}>
        </span>
        <span class="ml-2">
            shadeersadikeen@gmail.com
        </span>
        </a>
    </footer>
</body>
<script src="{% static 'jquery.slim.min.js' %}"></script> 
<script src="{% static 'jquery.min.js' %}"></script>

<script type="text/javascript" src="{% static "dropzone.min.js" %}"></script>
<script type="text/javascript" src="{% static "app.js" %}"></script>

{% comment %} <script type="text/javascript" src="{% static "app.js" %}"></script> {% endcomment %}

{% comment %} <script type="text/javascript" src="{% static "dropzone.min.js" %}"></script> {% endcomment %}
</html>