{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/homefav.png' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>

</head>

<body class = 'bg-gray-100'>
    
    <navbar class="grid grid-cols-5 font-bold text-black">
        <div class="grid items-center justify-center  ">
            <a href =" {% url 'classifier' %}">
            <img  class ='lg:h-10  sm:h-16'id = "tooltip_rocket" src="{%static 'icons/startup.png' %}">
            </a>
        </div>
        
        <div class='col-span-3 text-center  items-center justify-center grid'>
            <h1 class = "heading text-2xl sm:py-6  sm:text-5xl lg:text-3xl">Real Estate Price Bengalore</h1>
        </div>
        <div id='name' class='slide-in font-xs  items-center   w-full text-sm  flex font-light   '>
            <span class='font-bold'> Shadeer sadikeen</span>
            <span>' s website</span>
        </div>
    </navbar> 

    
    <div class="grid sm:grid-rows-1  lg:grid-cols-2 ">
        
    <div class = "flex content-center justify-center  "> 
        <form class="bg-gray-100 nu-shadow  rounded-3xl px-8 pb-8 mr-0 lg:w-3/4 lg:mr-4 sm:w-full sm:m-24 sm:p-20" method = "POST" action="{% url 'result' %}">
            {% csrf_token %}
            <div class="mb-4 flex sm:grid ">
                <label class="text-gray-700 lg:text-sm font-bold sm:text-4xl  flex items-center p-2" for="username">
                Location: 
                </label>
                <div class="custom-select">
                    <select id="uiLocations" name= "location" class="  bg-gray-100 text-gray-500 font-bold rounded-lg  border w-full py-4  px-12 text-gray-700 lg:text-sm sm:text-2xl  ">
                    {% for i in locations%} 
                    <option value="{{i}}">  {{i}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="mb-4 lg:flex sm:grid ">
                <label class="text-gray-700 lg:text-sm font-bold sm:text-4xl  flex items-center p-2" for="username">
                    Total SquareFeet: 
                </label>
                <input class="  bg-gray-100 text-gray-500 font-bold rounded-lg  border w-full py-4  px-6 text-gray-700 lg:text-sm sm:text-2xl  "required="required" id = "sqft" name="total_sqft" min = '300'max = "30000"placeholder="example : 1234 Sqft">
            </div>
            
            <div class="mb-4 lg:flex sm:grid ">
                <label class="text-gray-700 lg:text-sm font-bold sm:text-4xl  flex items-center p-2" for="username">
                    Bathrooms:
                </label>
                <input class="  bg-gray-100 text-gray-500 font-bold rounded-lg  border w-full py-4  px-6 text-gray-700 lg:text-sm sm:text-2xl  " required="required" type="number"name="bath"  id = "bath" min ='1'max = "10"  placeholder="How many Bathrooms">
            </div>
            
            <div class="mb-4 lg:flex sm:grid ">
                <label class="text-gray-700 lg:text-sm font-bold sm:text-4xl  flex items-center p-2" required="required" for="username">
                    Bedroom House kitchens: 
                </label>
                <input class="  bg-gray-100 text-gray-500 font-bold rounded-lg  border w-full py-4  px-6 text-gray-700 lg:text-sm sm:text-2xl  "required="required" type="number" name="bhk"  id = "bhk" min='1' max="15" placeholder="Number of Bedrooms" >
            </div>
            
            <div class="flex items-center justify-center">
              <button class="bg-amber-500 hover:bg-amber-600 w-full transition text-white font-bold py-2 px-4 rounded-full lg:text-lg sm:text-4xl sm:py-4 sm:font-medium " type="submit">
                Predict the Price 
              </button>
            </div>

        </form>
    </div>

    {% comment %} 

    Result

    {% endcomment %}

    <div class="flex justify-center lg:my-0">
    <div class = "result text-center  w-3/4  rounded-3xl mx-6  grid items-center justify-center nu-shadow bg-gray-100 nu-shadow   rounded-3xl px-8 pb-8 mr-0 lg:w-3/4  lg:ml-0 lg:mr-4 sm:w-full sm:m-12 sm:p-12 " >
        {% comment %} <a class = "button3d"class = "Next_page"  href =" {% url 'classifier' %}"><b>Next</b> Page</a> {% endcomment %}
        {% if result != 0 %}


            <p><b>Predicted Price</b><br>for house</p>
            <p style= 'font-size: 0.4em;color : #747474;'>
            {% for k , v in fields %} 
                <b style = "padding-left: 1em">{{k}}: </b>  {{v}} 
            {% endfor %}
            </p>
            <p><b>{{result}} Lakhs</b></p>
        {% else %}
            <p><b>Predict</b> price for Your Home</p>
        {% endif %}
        
    </div> 
    </div> 
    </div> 
    
    <footer class = 'flex align-center lg:w-screen mt-12 justify-center'>
        <div class="icons flex items-center justify-around lg:w-2/4 sm:w-3/4">
            <a href="https://github.com/shadee22" target="_blank"><img class= "opacity-40 lg:h-8 lg:w-8  sm:h-20 sm:w-full " src={%static 'icons/git.jpg' %}></a>
            <a href="https://www.facebook.com/shadeer.sadikeen/"target="_blank"><img class= "opacity-40 lg:h-8 lg:w-8 sm:h-20 sm:w-full " src={%static 'icons/fb.png' %}></a>
            <a href="https://www.instagram.com/sl_programmer/" target="_blank"><img  class= "opacity-40 object-contain  lg:h-8 lg:w-full sm:h-24 sm:w-full " src={%static 'icons/insta.png' %}></a>
            <a href="https://www.linkedin.com/in/shadeer-/" target="_blank"><img class= "opacity-40 lg:h-8 lg:w-8 sm:h-20 sm:w-full " src={%static 'icons/link.png' %}></a>
        </div>
    </footer>


</body>
<script src="{% static 'jquery.slim.min.js' %}"></script> 
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'index.js' %}"></script>

<script>
    $("#name").slideDown("slow");
    function getBathValue() {
        var uiBathrooms = document.getElementsByName("uiBathrooms");
        for(var i in uiBathrooms) {
          if(uiBathrooms[i].checked) {
              return parseInt(i)+1;
          }
        }
        return -1; // Invalid Value
      }
      
    function onPageLoad() {
        console.log( "document loaded" );
        // var url = "http://127.0.0.1:5000/get_location_names"; // Use this if you are NOT using nginx which is first 7 tutorials
        // var url = "/api/get_location_names"; // Use this if  you are using nginx. i.e tutorial 8 and onwards
        url = "http://127.0.0.1:8000/"
        live_url = "http://13.234.226.190:80/"
        $.get(live_url,function(data, status) {
            console.log("got response for get_location_names request");
            if(data) {
                var locations = data.locations;
                var uiLocations = document.getElementById("uiLocations");
                $('#uiLocations').empty();
                for(var i in locations) {
                    var opt = new Option(locations[i]);
                    $('#uiLocations').append(opt);
                }
            }
        });
      }
    
</script>
</html>