{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>

</head>

<body>
    {% comment %} <h1>{{result}}</h1> {% endcomment %}
    <div class="container">
    <div class="brand-logo">Real Estate Price Bengaluru</div>
    <form method = "POST" action="{% url 'result' %}">
        {% csrf_token %}
        
            <div class="inputs">
                <div class="custom-select" style="width:200px;">
                    <label placeholder = "Set your location" >Location</label>
                        <select id="uiLocations" name= "location">
                        {% for i in locations%} 
                            <option value="{{i}}">  {{i}}</option>
                        {% endfor %}
                        </select>
                </div>
              <label>Total SquareFeet</label>
              <input type="number" id = "sqft" name="total_sqft" min = '300'max = "30000"placeholder="example : 1234 Sqft" />
              <label>Bathrooms</label>
              <input type="number"name="bath"  id = "bath" max = "10"  placeholder="How many Bathrooms" />
              <label>Bedroom House kitchens</label>
              <input type="number" name="bhk"  id = "bhk" max="15" placeholder="Number of Bedrooms" />
            
              <button type="submit" value="Get Predictions">Make Prediction</button>
              
            </div>
          </div>
        </div>
    </form> 
    
    <div class = "result">
        <a class = "button3d"class = "Next_page"  href =" {% url 'classifier' %}"><b>Next</b> Page</a>
        {% if result != 0 %}
            <p><b>Predicted Price</b><br>for house</p>
            <p style= 'font-size: 0.4em;color : #747474;'>
            {% for k , v in fields %} 
                <b style = "padding-left: 1em">{{k}}: </b>  {{v}} 
            {% endfor %}
            </p>
            <p><b>{{result}} Lakhs</b></p>
        {% else %}
            <p><b>Predict</b> price for Your Home</p>
        {% endif %}
        
    </div>


</body>
<script>
    function getBathValue() {
        var uiBathrooms = document.getElementsByName("uiBathrooms");
        for(var i in uiBathrooms) {
          if(uiBathrooms[i].checked) {
              return parseInt(i)+1;
          }
        }
        return -1; // Invalid Value
      }
      
    function onPageLoad() {
        console.log( "document loaded" );
        // var url = "http://127.0.0.1:5000/get_location_names"; // Use this if you are NOT using nginx which is first 7 tutorials
        // var url = "/api/get_location_names"; // Use this if  you are using nginx. i.e tutorial 8 and onwards
        url = "http://127.0.0.1:8000/"
        $.get(url,function(data, status) {
            console.log("got response for get_location_names request");
            if(data) {
                var locations = data.locations;
                var uiLocations = document.getElementById("uiLocations");
                $('#uiLocations').empty();
                for(var i in locations) {
                    var opt = new Option(locations[i]);
                    $('#uiLocations').append(opt);
                }
            }
        });
      }
    
</script>
</html>