{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/homefav.png' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>

</head>

<body class = 'bg-gray-100'>

    <navbar class="grid grid-cols-5 h-16  font-bold text-black">
        <div class="grid items-center justify-center  ">
            <a href =" {% url 'home' %}">
            <img  class ='h-8'id = "tooltip_rocket" src="{%static 'icons/startup.png' %}">
            </a>
        </div>
        
        <div class='col-span-3 text-center  items-center justify-center grid'>
            <h1 class = "heading text-3xl">Real Estate Price Bengaluru</h1>
        </div>
    <div id='name' class='slide-in font-xs grid items-center md:items-center  w-full text-sm  md:flex font-light   '>
        <div class='font-bold'> Shadeer sadikeen</div>
        <div>' s website</div>
    </div>
    </navbar> 
    {% comment %} <h1>{{result}}</h1> {% endcomment %}
    <div class="grid grid-rows-1  md:grid-cols-2 py-16 ">
        
    <div class = "flex content-center justify-center ">
        <form class="bg-gray-100 nu-shadow  w-3/4 rounded-3xl px-8 pt-6 pb-8 mr-0 md:mr-4 " method = "POST" action="{% url 'result' %}">
            {% csrf_token %}

            <div class="mb-4 flex ">
                <label class="text-gray-700 text-sm font-bold  flex items-center p-2" for="username">
                Location: 
                </label>
                <div class="custom-select">
                    <select id="uiLocations" name= "location" class="  bg-gray-100 rounded-lg h-12 border w-full py-2 px-3 text-gray-700 leading-tight">
                    {% for i in locations%} 
                    <option value="{{i}}">  {{i}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="mb-4 flex ">
                <label class="block text-gray-700 text-sm font-bold  flex items-center p-2" for="username">
                    Total SquareFeet: 
                </label>
                <input class="  bg-gray-100 rounded-lg h-12 border w-full py-2 px-3 text-gray-700 leading-tight" id = "sqft" name="total_sqft" min = '300'max = "30000"placeholder="example : 1234 Sqft">
            </div>
            
            <div class="mb-4 flex ">
                <label class="block text-gray-700 text-sm font-bold min-w-16  flex items-center p-2" for="username">
                    Bathrooms:
                </label>
                <input class="  bg-gray-100 rounded-lg h-12 border w-full py-2 px-3 text-gray-700 leading-tight" type="number"name="bath"  id = "bath" max = "10"  placeholder="How many Bathrooms">
            </div>
            
            <div class="mb-4 flex ">
                <label class="block text-gray-700 text-sm font-bold  flex items-center p-2" for="username">
                    Bedroom House kitchens: 
                </label>
                <input class="  bg-gray-100 rounded-lg h-12 border w-full py-2 px-3 text-gray-700 leading-tight" type="number" name="bhk"  id = "bhk" max="15" placeholder="Number of Bedrooms" >
            </div>
            
            <div class="flex items-center justify-center">
              <button class="bg-amber-500	 hover:bg-amber-600 w-full transition text-white font-bold py-2 px-4 rounded-md" type="submit">
                Predict the Price 
              </button>
            </div>
        </form>
    </div>
    {% comment %} Result {% endcomment %}
    <div class = "result text-center  md:mr-12 my-6 rounded-3xl mx-6 grid items-center justify-center nu-shadow">
        {% comment %} <a class = "button3d"class = "Next_page"  href =" {% url 'classifier' %}"><b>Next</b> Page</a> {% endcomment %}
        {% if result != 0 %}
            <p><b>Predicted Price</b><br>for house</p>
            <p style= 'font-size: 0.4em;color : #747474;'>
            {% for k , v in fields %} 
                <b style = "padding-left: 1em">{{k}}: </b>  {{v}} 
            {% endfor %}
            </p>
            <p><b>{{result}} Lakhs</b></p>
        {% else %}
            <p><b>Predict</b> price for Your Home</p>
        {% endif %}
        
    </div> 
    </div> 
    
    <footer class = 'flex align-center md:w-screen justify-center'>
        <div class="icons flex items-center justify-around md:w-1/4 w-3/4">
            <p>Contact : </p>
            <a href="https://github.com/shadee22" target="_blank"><img class= "opacity-40 " src={%static 'icons/git.jpg' %}></a>
            <a href="https://www.facebook.com/shadeer.sadikeen/"target="_blank"><img class= "opacity-40 " src={%static 'icons/fb.png' %}></a>
            <a href="https://www.instagram.com/sl_programmer/" target="_blank"><img  class= "opacity-40 " src={%static 'icons/insta.png' %}></a>
            <a href="https://www.linkedin.com/in/shadeer-/" target="_blank"><img class= "opacity-40 hover:animate-spin " src={%static 'icons/link.png' %}></a>
        </div>
    </footer>


</body>
<script>
    function closeAlert(event){
        let element = event.target;
        while(element.nodeName !== "BUTTON"){
          element = element.parentNode;
        }
        element.parentNode.parentNode.removeChild(element.parentNode);
    }
    
    $('#name').click(function(){
        alert('shader');
    });

    window.addEventListener('load', function () {
        var button = $('.trigger')
      
        button.addEventListener('click', addAlert);
      });
    function getBathValue() {
        var uiBathrooms = document.getElementsByName("uiBathrooms");
        for(var i in uiBathrooms) {
          if(uiBathrooms[i].checked) {
              return parseInt(i)+1;
          }
        }
        return -1; // Invalid Value
      }
      
    function onPageLoad() {
        console.log( "document loaded" );
        // var url = "http://127.0.0.1:5000/get_location_names"; // Use this if you are NOT using nginx which is first 7 tutorials
        // var url = "/api/get_location_names"; // Use this if  you are using nginx. i.e tutorial 8 and onwards
        url = "http://127.0.0.1:8000/"
        $.get(url,function(data, status) {
            console.log("got response for get_location_names request");
            if(data) {
                var locations = data.locations;
                var uiLocations = document.getElementById("uiLocations");
                $('#uiLocations').empty();
                for(var i in locations) {
                    var opt = new Option(locations[i]);
                    $('#uiLocations').append(opt);
                }
            }
        });
      }
    
</script>
</html>