{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/homefav.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>


    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>
<script>
    
</script>
</head>

<body class = 'bg-gray-100 dark:bg-gray-900 transition-all'>
    <nav class='grid grid-cols-4'>
        <div class='flex justify-start items-center ml-12'>
            <a href ="{% url 'home' %}">
            <button type="button" class="dark:text-gray-900  text-white  bg-gray-800 hover:bg-gray-900 
             font-medium  text-sm px-4 py-2 mr-2 mb-2
              dark:bg-white  dark:hover:bg-gray-200   dark:border-white 
              flex sm:rounded-2xl items-center shadow-lg shadow-gray-500/50">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1.5" stroke="currentColor" class="h-6 w-6  mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
              </svg>
              
                <span class='sm:hidden lg:block '> Back to page</span>
            </button>
        </a>

        </div>
    <h1 id='test' class='
    col-span-2 flex justify-center transition-all items-center 
    sm:text-7xl lg:text-5xl  m-6 font-bold text-5xl dark:text-white '
    >Total Users </h1>
    <div class='flex items-center justify-center'>
        <img id='toggler' src="{% static 'icons/brightness.png' %} " class='lg:h-8 sm:h-12 transition-all' ></img>
    </div>
    </nav>
    <ul class='flex flex-wrap justify-center'>
        {% for i in person %}
        <button value={{i.first_name}} class='single  my-2 mx-2 lg:py-2.5 lg:px-5 lg:text-base sm:text-4xl
         sm:py-5 sm:px-8 rounded-lg bg-gray-200 dark:bg-gray-800
        dark:text-gray-300 transition-all dark:hover:bg-gray-700 hover:bg-gray-300  '
        >{{i.first_name}}</button>
        {% endfor %}
    </ul>
      
    <div class="flex items-center justify-center">
        <button id ='delete_all1' class='my-2 mx-2 lg:py-2 lg:px-4 lg:text-sm
        sm:text-4xl sm:py-5 sm:px-8 w-fit lg:rounded-3xl sm:rounded-3xl 
        text-white  bg-red-500 shadow-lg shadow-red-500/50
        cursor-pointer hover:bg-red-600 transition-all' data-modal-toggle="popup-modal">Delete All
        </button>
    </div>

      
      <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
          <div class="relative p-4 w-full max-w-md h-full md:h-auto">
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200
                   hover:text-gray-900 rounded-2xl text-2xl p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800
                    dark:hover:text-white" data-modal-toggle="popup-modal">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path 
                        fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 
                        0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Close modal</span>
                  </button>
                  <div class="p-6 text-center">
                      <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor"
                       viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                       d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                      <h3 class="mb-5 text-3xl font-normal text-gray-500 dark:text-gray-400">Please confirm you are the King!</h3>
                      <button id='delete_all' data-modal-toggle="popup-modal" type="button" class="  text-white bg-red-600 hover:bg-red-800
                       focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg 
                       text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                          Yes, I'm sure
                      </button>
                      <button data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 
                      focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200  font-medium px-5 py-2.5 hover:text-gray-900
                       focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 
                       dark:focus:ring-gray-600">No, cancel</button>
                  </div>
              </div>
          </div>
      </div>


    {% comment %} TOAST DANGER {% endcomment %}
    {% include 'comps/toast.html' with msg="Deleted all names" state='danger'%}
</body>
<script src="{% static 'jquery.slim.min.js' %}"></script> 
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'index.js' %}"></script>

<script>
 
    if ($('.single').val() == undefined ){ 
        dButton = $("#delete_all1");
        dButton.addClass('hidden')
    } 
    $('#delete_all').click(function(a){
        $.post('{% url 'delete_all' %}',function(res){
            location.reload();
        })
    });
    
    if ($('html').hasClass('dark') == true){
        $('html').removeClass('dark');
        $('img').attr('src','{% static 'icons/brightness.png' %}'); 
    }else{
        $('html').addClass('dark'); 
        $('img').attr('src','{% static 'icons/night.png' %}'); 
    }
    $('#toggler').click(function(){
        if ($('html').hasClass('dark') == true){
            $('html').removeClass('dark');
            $('img').attr('src','{% static 'icons/brightness.png' %}'); 
        }else{
            $('html').addClass('dark'); 
            $('img').attr('src','{% static 'icons/night.png' %}'); 
        }
    }); 


</script>
</html>
